@model SalesContractApplication.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Index";
}


@await Html.PartialAsync("_PopupModal")
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Login Sales Contract Application</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/bootstrap-login-form.min.css" />
</head>

<body>
    <!-- Start your project here-->

    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @@media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
    </style>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                         alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        @*<input type="email" id="form3Example3" class="form-control form-control-lg" placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">Email address</label>*@

                      
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-lg", placeholder = "Enter Username", type = "text" })
                        @Html.LabelFor(m => m.Username, new { @class = "form-label", @for = "Username" })
                       
                    </div>
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        @*<input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" />
                        <label class="form-label" for="form3Example4">Password</label>*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Enter password" })
                        @Html.LabelFor(m => m.Password, new { @class = "form-label", @for = "Password" })
                      
                       
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-0">
                            @*<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>*@

                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input me-2", @id = "RememberMe" })
                            @Html.LabelFor(m => m.RememberMe, "Remember me", new { @class = "form-check-label", @for = "RememberMe" })
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2 mb-2">
                        <input type="submit" value="Login" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"/>
                    </div>

                    @* Display summary of all validation and login errors *@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © @DateTime.Now.Year . All rights reserved.
            </div>
            <!-- Copyright -->
            <!-- Right -->
            @*<div>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#!" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>*@
            <!-- Right -->
        </div>
    </section>
    <!-- End your project here-->
    <!-- MDB -->
    <script src="~/js/Login/mdb.min.js"></script>
   
</body>

</html>